<div style="display: flex;justify-content: center;align-items: center;height: 100vh;width: 100vw;background-color: lightgrey">
  
<div class="ui container form-details" style="background-color: white;width: 50%" >

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "ui form "}) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit "Sign up", :class => 'ui button submit-button'%>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>
