
<form class="ui form" style="width:90%;">

<div class="field">
    <label>First Name</label>
    <input  name="name" readonly value=<%=@current_user.name%> >
</div>
<div class="field">
    <label>Address</label>
    <input  name="address" readonly value=<%=@current_user.address%> >

</div>
<div class="field">
    <label>Regn. No</label>
    <input  name="registration_number" readonly value=<%=@current_user.registration_number%> >
</div>
<div class="field">
    <label>Manager </label>
    <input  name="manager" readonly value=<%=@current_user.manager%> >
</div>
<div class="field">
    <label>Contact No </label>
    <input  name="contact" readonly value=<%=@current_user.contact%> >
</div>
<div class="field">
    <label>Staff </label>
    <input type="number" name="staff" readonly value=<%=@current_user.staff%> >
</div>
<div class="field">
    <label>Accomodants </label>
    <input type="number" name="residents" readonly value=<%=@current_user.residents%> >
</div>
<div class="field">
    <label>Capacity </label>
    <input  name="capacity" readonly value=<%=@current_user.capacity%> >
</div>
<div class="field">
    <label>Description </label>
    <input  name="description" readonly value=<%=@current_user.description%> >
</div>
</form>