<div style="display: flex;justify-content: center;align-items: center;width: 100vw;background-color: lightgrey;padding: 50px">

<div class="form-details" style="background-color: white">
	<div class="ui container">
		<h1>Create details</h1>


		<form class="ui form" method="post" action="/authenticated/submit_create_details">
			<div class="two fields">
				<div class="field">
					<label>First Name</label>
					<input type="text" name="name" placeholder="Name">
				</div>
				<div class="field">
					<label>Regn. No</label>
					<input type="number" name="registration_number" placeholder="Registration No">
				</div>
			</div>
			
			<div class="field">
				<label>Address</label>
				<input type="text" name="address" placeholder="Address">
			</div>
			<div class="two fields">
			
				<div class="field">
					<label>Manager </label>
					<input type="text" name="manager" placeholder="Manager's Name">
				</div>
				<div class="field">
					<label>Contact No </label>
					<input type="number" name="contact" placeholder="Contact No">
				</div>
			</div>
			<div class="three fields">

				<div class="field">
					<label>Staff </label>
					<input type="number" name="staff" placeholder="No of Staff">
				</div>
				<div class="field">
					<label>Accomodants </label>
					<input type="number" name="residents" placeholder="No of Accomodants">
				</div>
				<div class="field">
					<label>Capacity </label>
					<input type="text" name="capacity" placeholder="Total Capacity">
				</div>
			</div>
			<div class="field">
				<label>Description </label>
				<input type="text" name="description" placeholder="NGO Description">
			</div>
			<div class="field">
				<div class="ui checkbox">
					<input type="checkbox" tabindex="0" >
					<label>I agree to the Terms and Conditions</label>
				</div>
			</div>
			<div class="actions">
				<button style="padding: 10px 15px 25px !important;background-color: lightgrey !important">Submit</button>
			</div>
		</form>
	</div>
</div>
</div>