

<div style="display:flex;justify-content:space-around;">
<div class="ui vertical steps active" style="width:40%; ">
<% if @current_user.name%>
<div class="active completed step">
<i class="pencil alternate icon"></i>
  <div class="content">
    <div class="title">Registration Details</div>
    <div class="description">Choose your shipping options</div>
  </div>
</div>

<% else %>
<div class="active step">
<i class="pencil alternate icon"></i>
  <div class="content">
    <div class="title">Registration Details</div>
    <div class="description">Choose your shipping options</div>
  </div>
</div>
<% end %>

<% if current_user.attachments %>
<div class="active completed step">
<i class="tags icon"></i>
  <div class="content">
    <div class="title">Uploaded Documents</div>
    <div class="description">Enter billing information</div>
  </div>
</div>
<% else %>
<div class="active step">
<i class="tags icon"></i>
  <div class="content">
    <div class="title">Uploaded Documents</div>
    <div class="description">Enter billing information</div>
  </div>
</div>

<% end %>

<% if @current_user.verified %> 
<div class="completed active step">
<i class="exclamation icon"></i>
  <div class="content">
    <div class="title">Verification Status</div>
    <div class="description">Verify order details</div>
  </div>
</div>
<% else %>
<div class="active step">
<i class="file alternate icon"></i>
  <div class="content">
    <div class="title">Verification Status</div>
    <div class="description">Verify order details</div>
  </div>
</div>
<% end %>

<% if @current_user.physically_verified %>
<div class="completed active step">
<i class="user icon"></i>
<div class="content">
  <div class="title">Online Inspection</div>
  <div class="description">Verify order details</div>
</div>
</div>

<% else %>
<div class="active step">
<i class="user icon"></i>
<div class="content">
  <div class="title">Online Inspection</div>
  <div class="description">Verify order details</div>
</div>
</div>
<% end %>
<a class="ui button" href="/authenticated/registration_files">Upload Docs</a>
<a class="ui button" href="/authenticated/take_attendance">Mark Attendance</a>
<%= button_to '+', {:controller => "authenticated", :action => "submit_create_employee", :name => "abc", :contact=>"9999988888"} , :method=>:post  %>

</div>


<div style="padding-left:20px;width:80%;">


<div class="ui accordion">
<div class="active title">
  <i class="dropdown icon"></i>
  Registration Details
</div>
<div class="active content">
<%= render "reg_docs" %>

</div>
<div class="title">
  <i class="dropdown icon"></i>
  Uploaded Documents
</div>
<div class="content">
  <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
</div>
<div class="title">
  <i class="dropdown icon"></i>
  How do you acquire a dog?
</div>
<div class="content">
  <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
  <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
</div>
</div>



</div>

</div>


<script language='javascript'>
$(document).ready(function(){
   $('.ui.accordion').accordion();
});
</script>