<div style="display: flex;justify-content: center;align-items: center;height: 100vh;width: 100vw;background-color: lightgrey">

<div class="ui container">
<h1>Upload Documents to Register...</h1>


<form id="my_form" method="POST" action="/authenticated/submit_registration_files" enctype="multipart/form-data">


<div class="ui ordered steps">
	<div class="step" id="1">
		<div class="content">
			<div class="title">Registration Certificate</div>
			<div class="description">Upload the registration certificate</div>
			<br><br>
			<span></span><input type="file" onchange="changeStatus('1')" name="registration_certificate">
		</div>
	</div>
	<div class="step" id="2">
		<div class="content">
			<div class="title">Last Year balance sheet</div>
			<div class="description">Upload the latest balance sheet</div>
			<br><br>
			<span></span><input type="file" onchange="changeStatus('2')" name="previous_year_balance_sheet">
		</div>
	</div>
	<div class="step" id="3">
		<div class="content">
			<div class="title">PAN Card of the NGO</div>
			<div class="description">Upload PAN card of the NGO</div>
			<br><br>
			<span></span><input type="file" onchange="changeStatus('3')" name="pan_card">
		</div>
	</div>
</div>





<div class="ui buttons right" style="padding-right: 60px !important">
	<a class="ui button" href="/authenticated/index">Cancel</a>
	<div class="or"></div>
	<a class="ui positive button" href="javascript:{}" onclick="document.getElementById('my_form').submit();">Submit</a>

</div>


</form>

</div>
</div>

<script type="text/javascript">
function changeStatus(num) {
	// console.log(document.querySelector(`.step${num}`).classList)
	document.getElementById(num).classList.add('completed', 'active');
}
</script>	
