<%= @employees.length%>

<form class="ui form" method="post" action="/authenticated/submit_attendance">
<table class="ui selectable  table">
<thead>
  <tr>
    <th>S.No</th>
    <th>Name</th>
    <th>Present</th>
  </tr>
</thead>
<tbody>
<% @employees.each do |employee| %>
  <tr>
  <td>1</td>
  <td><%= employee.name %></td>
  <td>
  <div class="ui left floated compact segment">
  <div class="ui fitted toggle checkbox">
    <input type="checkbox" name=<%= employee.id %>>
    <label></label>
  </div>
</div>
  </td>
</tr>

  <% end %>
  
  
  
</tbody>
</table>
<input type="submit">
</form>