		<div class='ui large top fixed hidden menu'>
		<div class='ui container'>
			<a class='active item'>Home</a>
			<div class='right menu'>
				<div class='item'>
					<a class='ui button'>Log in</a>
				</div>
				<div class='item'>
					<!-- <a class='ui primary button'>Sign Up</a> -->
				</div>
			</div>
		</div>
	</div>
	<!-- Sidebar Menu -->
	<div class='ui vertical inverted sidebar menu'>
		<a class='active item'>Home</a>
	</div>
	<!-- Page Contents -->
	<div class='pusher'>
		<div class='ui inverted vertical masthead center aligned segment'>
			<div class='ui container'>
				<div class='ui large secondary inverted pointing menu'>
					<a class='toc item'>
						<i class='sidebar icon'></i>
					</a>
					<a class='active item'>Home</a>
					<div class='right item'>
						<a href='/users/sign_in' class='ui inverted button'>Log in</a>
					</div>
				</div>
			</div>
			<div class='ui text container'>
				<h1 class='ui inverted header'>
					NGO REGISTRATION PORTAL
				</h1>
				<!-- <h2>Do whatever you want when you want to.</h2> -->
				<a href="/users/sign_up">
					<div class='ui huge primary button'>
						Register Now
						<i class='right arrow icon'></i>
					</div>
				</a>
			</div>
		</div>


		<div class="ui container">
			<section id="counter-stats" class="wow fadeInRight" data-wow-duration="1.4s">
				<div class="container">
					<div class="row" style="display: flex;justify-content: space-around;">

						<div class="col-lg-3 stats" style="margin: 50px">
							<i class="fa fa-users" aria-hidden="true" style="padding: 50px"></i>
							<div class="counting" data-count="900000">0</div>
							<h5>People Served</h5>
						</div>

						<div class="col-lg-3 stats" style="margin: 50px">
							<i class="fa fa-building" aria-hidden="true" style="padding: 50px"></i>
							<div class="counting" data-count="280">0</div>
							<h5>Registered NGO's</h5>
						</div>

						<div class="col-lg-3 stats" style="margin: 50px">
							<i class="fa fa-industry" aria-hidden="true" style="padding: 50px"></i>
							<div class="counting" data-count="75">0</div>
							<h5>Number of Districts covered	</h5>
						</div>
					</div>
				</div>
			</section>
		</div>



		<div class='ui vertical stripe segment'>
			<div class='ui middle aligned stackable grid container'>
				<div class='row'>
					<div class='eight wide column'>
						<h3 class='ui header'>We Help NGOs for Differently Ables</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. 

							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. 
						</p>

					</div>
					<div class='six wide right floated column'>
						<img class='ui large bordered rounded image' src='https://www.somospacientes.com/wp-content/uploads/2014/07/anciano-en-silla-de-ruedas.jpg'>
					</div>
				</div>
				<div class='row'>
					<div class='center aligned column'>
						<a class='ui huge button'>Check Them Out</a>
					</div>
				</div>
			</div>
		</div>
		<div class='ui vertical stripe quote segment'>
			<div class='ui equal width stackable internally celled grid'>
				<div class='center aligned row'>
					<div class='column'>
						<h3>"No act of kindness, <br>no matter how small, is ever wasted."</h3>
					</div>
					<div class='column'>
						<h3>"Kindness is the language which the deaf can hear and the blind can see."</h3>
						<p>
							<img class='ui avatar image' src='https://unsplash.it/650'>
							<b>Yash Garg</b>
						</img>
					</p>
				</div>
			</div>
		</div>
	</div>
<div class='ui vertical stripe segment'>
	<div class='ui text container'>

		<h3 class='ui header'>Steps to Register</h3>


		<div class="ui middle aligned animated list">
			<div class="item">
				<div class="content">
					<div class="header"><p>1. Click on New NGO Registration.</p></div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<div class="header"><p>2. Upload Documents for Verification.</p></div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<div class="header"><p>3. Automatic Verification will be done.</p></div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<div class="header"><p>4. Verification Receipt will be generated.</p></div>
				</div>
			</div>
		</div>



		<a href="/users/sign_up">
					<div class='ui huge primary button'>
						Register Now
						<i class='right arrow icon'></i>
					</div>
				</a>
	</div>
</div>
<div class='ui inverted vertical footer segment'>
	<div class='ui container'>
		<div class='ui stackable inverted divided equal height stackable grid'>
			<div class='three wide column'>
				<h4 class='ui inverted header'>About</h4>
				<div class='ui inverted link list'>
					<a class='item' href='#'>Help</a>
					<a class='item' href='#'>Contact Us</a>
					<a class='item' href='#'>Testimonials</a>
				</div>
			</div>
			<div class='three wide column'>
				<h4 class='ui inverted header'>Services</h4>
				<div class='ui inverted link list'>
					<a class='item' href='#'></a>
					<a class='item' href='#'>NGO FAQ</a>
					<a class='item' href='#'>How To Access</a>
					<a class='item' href='#'>Top NGO's</a>
				</div>
			</div>
			<div class='seven wide column'>
				<h4 class='ui inverted header'>NGO Portal</h4>
				<p>A portal to onboard NGO's serving the needy and disabled across the wonderful country India.</p>
			</div>
		</div>
	</div>
</div>
</div>
