<div style="display: flex;justify-content: center;align-items: center;height: 100vh;width: 100vw;background-color: lightgrey">
  
<div class="ui container form-details login" style="background-color: white;width: 35%" >

<h2>Log In</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), :class=> "ui form") do |f| %>
<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>
<br>  
<div class="field">
  <%= f.label :password %><br />
  <%= f.password_field :password, autocomplete: "off" , :col => 30 %>
</div>
<div class="actions ">
  <%= f.submit "Log In", :class => 'ui button submit-button'%>
</div>
<% end %>
<%= render "devise/shared/links" %>
</div>
</div>